<!DOCTYPE html>
<html>
<head>
  <title>Nevernote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container wrap">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <div class="well">
          Nevernote
          <div class="user-links">
            <%= link_to 'Logout', logout_path, method: :delete %>
          </div>
        </div>
      </header>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <nav id="sidebar">
          SIDEBAR
        </nav>
      </div>
      <div class="col-xs-8">
        <main>
          <%= flash_messages flash %>
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</div>

</body>
</html>
