<!DOCTYPE html>
<html>
<head>
  <title>Nevernote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container wrap">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <div class="well">
          Nevernote
          <div class="user-links">
            <% if current_user.present? %>
              <%= link_to 'Logout', logout_path, method: :delete %>
            <% else %>
              <%= link_to 'Sign Up', sign_up_path %> or
              <%= link_to 'Login', login_path %>
            <% end %>
          </div>
        </div>
      </header>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <nav id="sidebar">
          <ul id="notes">
            <% current_user.notes.each do |n| %>
              <li>
                <div class="note-title">
                  <%= link_to n.title, edit_note_path(n) %>
                </div>
                <div class="note-body">
                  <%= n.body_html %>
                </div>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="col-xs-8">
        <main>
          <%= flash_messages flash %>
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</div>

</body>
</html>
